* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  margin: auto;
}

main {
  text-align: center;
}

.add {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.add input {
  background: none;
  border: 1px solid #fff;
  color: #fff;
  padding: 5px;
  align-items: center;
  margin-left: 10px;
  border-radius: 5px;
}

.add label {
  text-align: center;
  margin: auto 0;
}

.submit {
  background: none;
  border: 1px solid green;
  color: #fff;
  padding: 8px;
  margin-top: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.8s;
}

.submit:hover {
  background-color: green;
}

.container-list {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: #000;
  width: 50vw;
  margin: auto;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
}

.container-list ul {
  margin: auto;
}

li {
  list-style: none;
  padding: 5px;
}
