body {
    color: rgb(0, 0, 0);
}


h1 {
    background-color: red;
    padding: 20px;
    border: 3px solid black;
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-style: italic;
    font-weight: bold(600);
}

