@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--primary-color);
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background-color: white;
  padding: 20px;
  font-family: 'Opens Sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
  border-radius: 20px;
}

form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 5px;
}

form input {
  font-size: 20px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form button {
  border: none;
  background-color: var(--primary-color);
  color: white;
  font-size: 18px;
  font-weight: bold;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  background-color: var(--primary-color-darker);
}

.paragrafo-resultado {
  background-color: rgb(0, 255, 64);
  padding: 10px 20px;
}

.bad {
  background-color: rgb(255, 0, 0);
  padding: 10px 20px;
}